$font-size-s: 1.6rem;
$font-size-m: 2.8rem;

$color-grey: #c0c0c0;
$color-dark-grey: #3f3f3f;
$color-red: #c30000;
$color-purple: #92278f;
$color-dark-purple: #832380;
$color-white: #fff;
$color-green: #569E33;

$border-radius: .6rem;
