<main>
  <form class="login-form" id="login-form">
    <h1 class="login-form__heading"><%= title %></h1>
    <div class="login-form__element">
      <label class="login-form__label" for="username">Username</label>
      <input class="login-form__input" type="text" name="username" id="username">
      <span class="login-form__error" id="username-validation-message"></span>
    </div>
    <div class="login-form__element">
      <label class="login-form__label" for="password">Password</label>
      <input class="login-form__input" type="password" name="password" id="password"> 
      <span class="login-form__error" id="password-validation-message"></span>
    </div>
    <span class="login-form__error" id="error-validation-message"></span>
    <div class="login-form__element login-form__button">
      <button type="submit">Login</button>
    </div>
  </form>
  <div class="home-background-circle"></div>
</main>
